*.swp
*.tmp
*.dump
coverage.out
revel-build.log
todo/
tmp/
update_dependencies.sh
distro/
build/ssm-qan-agent*
bin/ssm-qan-agent/ssm-qan-agent
bin/ssm-qan-agent-installer/ssm-qan-agent-installer
vendor/
