[Unit]
Description=SSM Query Analytics MySQL agent
ConditionFileIsExecutable=/opt/ss/qan-agent/bin/ssm-qan-agent
After=network.target
After=syslog.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/opt/ss/qan-agent/bin/ssm-qan-agent

Restart=always
RestartSec=120

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ssm-mysql-queries

[Install]
WantedBy=multi-user.target